// About Us
@media screen and (min-width:1440px) {
    .about-us-container {
        max-width: 100%;
        width: 100%;
        padding: 0px !important;
        position: relative;

    }


    .about-us-text {
        white-space: nowrap;
        font-size: 1rem;
    }
}