@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html {
    font-family: 'Lato',
        sans-serif !important;
}

img {
    max-width: 100%;
    height: auto;
}


body {
    font-family: 'Lato',
        sans-serif !important;
}

.homebtn {
    font-family: 'Lato',
        sans-serif !important;

    .display-4 {
        background: transparent !important;
        color: #2A166F !important;
        border: none;
        font-size: 16px !important;

        &:hover {
            background: #6a5c9a9b !important;
            color: #fff !important;
        }
    }
}


// nav-item dropdown
.nav-item.dropdown {
    margin-bottom: 1.5vh !important;
}


// Gallery Collection SLider
.gallerycollection {
    margin: 10vh 0px;
    width: 100%;
    text-align: center;

    h3 {
        padding: 0px 0px 20px 0px;
    }

    .slider-images {
        margin: 20px 20px;

        & img {
            width: 100%;
            object-fit: contain;
        }
    }
}

// Font weight Of Links 
.nav-item.dropdown {
    .link {
        font-weight: bold !important;
    }
}

// Image Slider
@media screen and (min-width:768px) {
    .gallerycollection-slider {
        display: flex;
    }
}

// About Us
.about-us-container {
    max-width: 100%;
width: 100%;
}

// Mobile  Responsive 
@import './mobile';
@import './desktop';