@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html {
    font-family: 'Lato',
        sans-serif !important;
}

body {
    font-family: 'Lato',
        sans-serif !important;
}

.homebtn {
    font-family: 'Lato',
        sans-serif !important;

    .display-4 {
        background: transparent !important;
        color: #2A166F !important;
        border: none;
        font-size: 16px !important;

        &:hover {
            background: #6a5c9a9b !important;
            color: #fff !important;
        }
    }
}

.galleryImages {
    &__img {
        margin: 15px;
        max-width: 100%;
        max-height: 400px;

        img {
            object-fit: contain;
            width: 100%;
        }
    }

    &__imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        margin-bottom: 5vh;


    }

    &__btn {
        display: flex;
        align-items: center;
        margin-bottom: 5vh;
        justify-content: flex-end;
        margin-right: 4vh;

        a {
            border: 1px solid #2A166F;
            letter-spacing: 2px;
            font-weight: 700;
            color: #2A166F;
            padding: 10px 25px;

                transition: 0.4s background,
                    0.4s color;

            &:hover {
                background: #29166fa2;
                
                transition: 0.4s background,
                    0.4s color;
                    
                
                color: white;
            }
        }
    }
}

// 
.slick {
    &__btn {
        background: #2A166F;
        height: 40px;
        width: 60px;
        font-family: 'Lato' !important;
        z-index: 1000000;


        &::before {
            font-family: 'Lato' !important;
        }

        &:hover {
            background: #2A166F;
        }
    }

    &-prev {
        left: 10px;
    }

    &-next {
        right: 14px;
    }
}